<div class="container">
    <div *ngIf="!showLogin" class="center">

        <h1>Register User</h1>
        <form #userSignUp="ngForm" (ngSubmit)="signUp(userSignUp.value)">
            <div class="txt_field">
                <!-- //if you want to apply validation  #name="ngModel" or #email -->
                <input type="text" ngModel name="name" #name ="ngModel" required>
                <span></span>
                <label>Name</label>
            </div>
            <p *ngIf="name.invalid && name.touched">Please Enter Valid Name</p>
            <div class="txt_field">
                <input type="text" name="email" #email="ngModel" ngModel required email>
                <span></span>
                <label>Email</label>
            </div>
            <p *ngIf="email.invalid && email.touched">Please Enter Valid Email</p>

            <div class="txt_field">
                <input type="password" name="password" #pass="ngModel" ngModel required minlength="4" maxlength="10">
                <span></span>
                <label>Password</label>
            </div>
            <p *ngIf="pass.invalid && pass.touched">Please Enter Valid Password</p>

            <div class="txt_field">
                <input type="password" name="cpassword" #cpass="ngModel" ngModel required minlength="4" maxlength="10">
                <span></span>
                <label>Confirm Password</label>
            </div>
            <p *ngIf="cpass.invalid && cpass.touched">Password Don't match</p>

            <input [disabled]="userSignUp" name="submit" type="Submit" value="Sign Up">
            <div class="signup_link">
                Have an Account ? <a (click)="openLogin()">Login Here</a>
            </div>
        </form>
    </div>
    <!--Login-->
    <div *ngIf="showLogin" class="center">
        <div *ngIf="authError" class="alert alert-danger" role="alert">
            {{authError}}
          </div>
        <h1>Login User</h1>
        <form  #userLogin="ngForm" (ngSubmit)="LogIn(userLogin.value)">

            <div class="txt_field">
                <input type="email" #emails="ngModel" name="email" ngModel required email>
                <span></span>
                <label>Email</label>
            </div>
            <p *ngIf="emails.invalid && emails.touched">Please Enter Valid Email</p>

            <div class="txt_field">
                <input type="password" #passs="ngModel" name="password" ngModel required>
                <span></span>
                <label>Password</label>
            </div>
            <p *ngIf="passs.invalid && passs.touched">Password Don't match</p>


            <input  type="Submit" value="Login">
            <div class="signup_link">
                If don't Have an Account ? <a (click)="openSignUp()" >Sign Here</a>
            </div>
        </form>
    </div>
</div>